table{
  padding: 10px;
}

td{
  padding: 10px 20px;
  margin: 5px;
}

.container{
  padding: 10px;
}
label{
  display: block;
}

.btn{
  padding: 5px 15px;
  margin: 5px 0;
  border: none;
  border-radius: 3px;
  font-size: medium;
  background-color: lightblue;
  color: #404040;
}

.table{
  border: 2px solid #5f5f5f;
}
.tableHeader{
  border-bottom: 2px solid #5f5f5f;
}